@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
body{
    margin: 0;
}
.header{
    margin: 0;
    background-image: url('back.jpg');
    background-size: cover;
    min-height: 700px;
    position: relative;
    
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    overflow: hidden;
    background-color: #4eb8ff;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
.header li {
    float: left;
}
.hello{
    font-weight: bold;
    color: #111;
}
h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.header li a:hover{
    background-color: #111;
}

.header-welcome{
    width: 100%;
}
.header-welcome article{
    top: 0;
    padding: 0;
    max-width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    height: 90vh;
}

.header-welcome .header-btn{
    background-color: #fff;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: 1px solid #ffff;
  border-radius: 50px;
  cursor: pointer;
}

.header-welcome .header-btn:hover{
    background: transparent;
    color: white;
	text-decoration: none;
}

.about{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:skyblue;    
}

.about div{
    width: 50%;
    margin: auto;
    text-align: center;
}
hr{
    width: 50%;
}

.about img{
    border-radius: 10%;
    width: 30%;
}
.galeri{
    color: transparent;
    padding-top: 100px;
    padding-bottom: 100px;
}

.galeri div{
    color: transparent;
    margin: auto;
    width: 80%;
    text-align: center;
}

.galeri div hr{
    color: transparent;
    width: 40%;
    margin-bottom: 100px;
}

.galeri div div {
    background-color: transparent;
    display: flex;
    width: 100%;
}

.card {
    background-color: transparent;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card img{
    width: 70%;
    margin: auto;
}

.card div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact{
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #131212; 
    color: #fff;
    font-size: 25px;
}


.contact-item{
    flex: 1;
    padding: 25px;
}

footer {
    background: black;
    color: white;
    padding: 30px 10px;
  }
  footer p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: center;
  }
  footer p a {
    color: white;
  }
  .college{
  box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.63);
-webkit-box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.63);
-moz-box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.63);
border-radius: 20px;
  }
  .resume{        box-shadow:inset 0px 0px 15px 3px #23395e;
        background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
        background-color:#2e466e;
        border-radius:17px;
        border:1px solid #1f2f47;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        padding:6px 13px;
        text-decoration:none;
        text-shadow:0px 1px 0px #263666;
    }
    .resume:hover {
        background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
        background-color:#415989;
    }
    .resume:active {
        position:relative;
        top:1px;
    }
    .namemain{
        font-family: "Julius Sans One", sans-serif;
        text-align: center;
        font-size: 35px;
        color: rgb(0, 240, 216);
        background-color: rgb(84, 84, 84);
        text-shadow: rgb(0, 0, 0) 2px 2px 2px;
        background: transparent;
    }
    .galeri {
        color: rgba(0, 27, 205, 0.8);
        font-size: 30px;
        padding: 20px;
    }
    .btn {
        box-shadow:inset 0px 1px 0px 0px #97c4fe;
        background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        background-color:#3d94f6;
        border-radius:6px;
        border:1px solid #337fed;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #1570cd;
    }
    .btn:hover {
        background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color:#1e62d0;
    }
    .btn:active {
        position:relative;
        top:1px;
    }
    .myButton {
        box-shadow: 0px 10px 14px -7px #276873;
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        background-color:#599bb3;
        border-radius:8px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color:#408c99;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    .ally{
        background: black;
    }
    .aboutsec{
        color: #f7f7f7;
    }

    .social {
        padding-top: 10px;
        display: flex;
        font-size: 45px;
        justify-content: center;
        display: flex;
        background-color: black; 
    }
    
    .social a {
        color: white; 
    }
    .background{
        background-color: black;
    }
    .fonts3{
        background-color: #ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    }
    